* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Nunito, sans-serif;
}

main {
    padding: 24px;
}

a {
    text-decoration-line: none;
    color: inherit;
}

.header-container {
    box-shadow: 0 2px 4px 0px rgba(0, 0, 0, 0.1);
    padding-inline: 24px;
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    margin-inline: auto;
}

.title {
    font-weight: 800;
}

.countries-container {
    max-width: 1200px;
    margin-inline: auto;
    margin-top: 16px;
    display: flex;
    gap: 64px;
    flex-wrap: wrap;
    justify-content: space-between;
}

.country-card {
    display: inline-block;
    width: 250px;
    border-radius: 8px;
    overflow: hidden;
    padding-bottom: 24px;
    box-shadow: 0 0 8px 0px rgba(0, 0, 0, 0.2);
    transition: all 0.2s ease-in-out;
}

.country-card:hover {
    transform: scale(1.03);
    box-shadow: 0 0 16px 0px rgba(0, 0, 0, 0.2);
}

.card-title {
    font-size: 24px;
    margin-block: 16px;
}

.card-text {
    padding-inline: 16px;
}

.card-text p {
    margin-block: 8px;
}

.country-card img {
    width: 100%;
}

.group {
    display: flex;
    line-height: 28px;
    align-items: center;
    position: relative;
    max-width: 190px;
}

.input {
    width: 100%;
    height: 40px;
    line-height: 28px;
    padding: 0 1rem;
    padding-left: 2.5rem;
    border: 2px solid transparent;
    border-radius: 8px;
    outline: none;
    background-color: #f3f3f4;
    color: #0d0c22;
    transition: .3s ease;
}

.input::placeholder {
    color: #9e9ea7;
}

.input:focus,
input:hover {
    outline: none;
    border-color: rgba(234, 76, 137, 0.4);
    background-color: #fff;
    box-shadow: 0 0 0 4px rgb(234 76 137 / 10%);
}

.icon {
    position: absolute;
    left: 1rem;
    fill: #9e9ea7;
    width: 1rem;
    height: 1rem;
}

.flex{
    display: flex;
    /* border: 1px solid black; */
    width: 100%;
    /* align-items: center; */
    justify-content: space-between;
}
/*  */


.select {
    /* position: absolute;
    right: 120px; */
    z-index: 200;
    width: fit-content;
    cursor: pointer;
    position: relative;
    transition: 300ms;
    color: white;
    overflow: hidden;
    /* border: 1px solid black; */
    position: absolute;
    right: 20px;
    top: 75px;
    /* height: 10vh; */
  }
  
  .selected {
    background-color: #2a2f3b;
    padding: 5px;
    margin-bottom: 3px;
    border-radius: 5px;
    position: relative;
    z-index: 100000;
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .arrow {
    position: relative;
    right: 0px;
    height: 10px;
    transform: rotate(-90deg);
    width: 25px;
    fill: white;
    z-index: 100000;
    transition: 300ms;
  }
  
  .options {
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    padding: 5px;
    background-color: #2a2f3b;
    position: relative;
    top: -100px;
    opacity: 0;
    transition: 300ms;
  }
  
  .select:hover > .options {
    opacity: 1;
    top: 0;
  }
  
  .select:hover > .selected .arrow {
    transform: rotate(0deg);
  }
  
  .option {
    border-radius: 5px;
    padding: 5px;
    transition: 300ms;
    background-color: #2a2f3b;
    width: 150px;
    font-size: 15px;
  }
  .option:hover {
    background-color: #323741;
  }
  
  .options input[type="radio"] {
    display: none;
  }
  
  .options label {
    display: inline-block;
  }
  .options label::before {
    content: attr(data-txt);
  }
  
  .options input[type="radio"]:checked + label {
    display: none;
  }
  
  .options input[type="radio"]#all:checked + label {
    display: none;
  }
  
  .select:has(.options input[type="radio"]#all:checked) .selected::before {
    content: attr(data-default);
  }
  .select:has(.options input[type="radio"]#option-1:checked) .selected::before {
    content: attr(data-one);
  }
  .select:has(.options input[type="radio"]#option-2:checked) .selected::before {
    content: attr(data-two);
  }
  .select:has(.options input[type="radio"]#option-3:checked) .selected::before {
    content: attr(data-three);
  }
  

/*  */





@media(max-width: 768px) {
    .countries-container {
        justify-content: center;
    }
}


/*  */

.card{
    /* border: 1px solid rgba(119, 86, 86, 0.869); */
    border-radius: 10px;
    width: 220px;
    /* min-height: 400px; */
    cursor: pointer;

    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    transition: all 0.1s ease;
}
.card:hover{
    box-shadow: rgba(0, 0, 0, 0.24) 3px 6px 11px;
}
.card img{
    height: 150px;
    /* max-height: 150px; */
    /* object-fit: contain; */
    width: 100%;
    border-top-left-radius: 10px!important;
    border-top-right-radius: 10px!important;
    /* border: 1px solid black; */
}
.cardholder{
    padding: 5px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 10px;
}
.card .bottom{
    padding: 5px 0px 0px 10px;
    /* border: 1px solid black; */
    display: flex;
    /* font-size: 20px!important; */
    /* height: 50%; */
    /* height: 100%; */
    /* width: 100%; */
    /* background-color: yellow; */
    flex-direction: column;
    gap: 1px;
    /* justify-content: center; */
    /* align-items: space-evenly; */
}
.size{
    font-size: 15px!important;
}
#c3{
  margin-top: 60px!important;
}
.header{
  /* position: sticky; */
  border-bottom: 1px solid rgba(60, 57, 57, 0.671);
  display: flex;
  position: fixed;
  z-index: 10;
  top: 0px;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  height: 10dvh;
  padding: 0px 40px 0px 40px;
  background-color: white;
  /* padding-bottom: 120px; */
}
.header h4{
  cursor: pointer;
}
.items img{
  width: 70px;
  height: 65px;
}
#cart{
  width: 30px;
  position: static;
  z-index: 20;
  cursor: pointer;
  margin-bottom: 3px;
}
.header span{
  display: flex;
  width: min-content;
  white-space: nowrap;
  align-items: center;
  gap: 1px;
}
.cartholder{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.cartitems{
  /* height: 60dvh; */
  padding: 20px 5px 15px 5px;
  width: 80%;
  border: 1px solid rgba(60, 57, 57, 0.671);
  display: flex;
  justify-content: space-around;
  /* align-items: ; */
  /* padding-top: 15px; */
}
.quantity{
  display: flex;
  gap: 5px;
  height: 20px;
}
.quantity button{
  width: 20px;
  display: flex;
  align-items: center;
  justify-content: center
}

.items{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: min-content;
  /* padding: 0px; */
  /* margin: 0px; */
  /* border-bottom: 1px solid rgba(60, 57, 57, 0.671); */
  width: 100%;
}
